.admin-chances-container h1 {
  color: black !important;
}

.sorteo-box h2 {
  color: yellow !important;
}

/* Texto "Listado de Chances" */
.listado-titulo {
  color: yellow;
  font-weight: bold;
}

/* Texto "Sin chances vendidas" */
.sin-chances {
  color: white !important;
  font-style: italic;
}
